<!DOCTYPE html>
<html lang="ja"></html>
<head>
  <title>UImaker</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/index.css') }}">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/fabric.js/4.1.0/fabric.min.js"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/index.js')}}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/Module.js')}}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/Object.js')}}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/file.js')}}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/background.js')}}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/editObject.js')}}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/ObjParameterSettingWindow.js')}}"></script>
  <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <style>
    @import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
  </style>
</head>

<body>
  <div class= "app">
    <br>
    <div class = "contorol_panel">
      <br>
      <img src="../static/pic/menu.png">
      <br>
      <hr width="90%">
    
      <img src="../static/pic/save.png" onclick="exportComportnents();">
      <br>
      <img src="../static/pic/export.png" onclick="exportCode();">

      <hr width = "90%">
      <img src="../static/pic/rectangular.png" onclick="addRect();">
      <br>
      <img src="../static/pic/circle.png" onclick="addCircle();">
      <br>
      <img src="../static/pic/text.png" onclick="addText();">
      <hr width = "90%">
      <img src="../static/pic/bin.png" onclick="deleteObj();">
      <br>
      <img src="../static/pic/copy.png" onclick="Copy();">
      <br>
      <img src="../static/pic/paste.png" onclick="Paste();">


    </div>
    <div id="canvas_wrapper">
      <canvas id="test_canvas" ></canvas>
    </div>
    <div id = "edit_parameter_window">
      <div id = "parameter_setting_wrapper">
      </div>
      <hr width="90%">
      <div id = "background_setting_wrapper">
        <div class ="parameter_setting">
          <font size=3px>Background</font><br>
          <font size=3px>color:</font>
          <input id="background_color_input" type="color" onchange="changeBackgroundColor()"></input><br>
        </div>
      </div>      
    </div>

 
  </div>

</body>
</html>